.row {
  padding: $lead-triple 0;

  &--lean {
    padding: $lead-double 0;
  }

  &.dark {
    background: $color-background !important;
  }

  &.dark2 {
    background: $color-background-dark !important;
  }

  &.darker {
    background: $secondary !important;
    color: $color-background !important;

    blockquote,
    .text,
    .author {
      color: $color-background-dark !important;
    }
  }
}

[class*="-loaded"] {
  display: none;
}
