.challenge {
  position: relative;
  &__prompt {
    font-size: 2rem;
    font-weight: $weight-light;
    line-height: $line-height*1.5;
  }
  &__author {
    margin-bottom: $lead-single;
  }
  &__refresh-button {
    position: absolute;
    right: 0;
    top: 0;
  }
}
