// 42em > 42
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

////// Color Palette //////


$palettes: (
  default:(
    lighter: #F6F6F6,
    light: lightgray,
    mid: gray,
    dark: #444,
    darker: black,
    accent: green
  )
);

@function palette($palette, $tone: 'default') {
    @return map-get(map-get($palettes, $palette), $tone);
}

$gradientStart:           #2D628A;
$gradient1:               #45638A;
$gradient2:               #5C648A;
$gradientEnd:             #74658A;

$color-text-nav:          lighten(#B5B5D0, 20%);
$color-text-nav-trans:    rgba($color-text-nav, 0.5);
$color-text-nav-hover:    lighten($color-text-nav, 20%);

$color-dark:              #0A2E4A;
$color-light:             #F5F5F5;

$color-background:        white;
$color-background-lighter:  palette(default, lighter);
$color-background-light:  palette(default, light);
$color-background-dark:   darken($color-background, 6%);
$color-background-darker:   darken($color-background, 12%);

$color-overlay:           rgba($color-dark, 0.35);
$color-shadow:            rgba(#000, 0.15);

$color-border:            rgba($color-dark, .2);
$color-border-dark:       rgba($color-dark, .4);

$color-text:              palette(default, darker);
$color-text-light:        palette(default, mid);
$color-text-lighter:      palette(default, lighter);

$color-link:              palette(default, accent);
$color-link-hover:        darken($color-link, 5%);

$grid-1:                  rgba(255, 255, 255, 0);
$grid-2:                  rgba(0, 0, 0, 0.1);

$color-selection:         #fff;
$color-selection-bg:      palette(default, darker);


$color-accent:    #EBDFC7;



////// Type Scale //////

$scale: 1.3333333333;
$font-size: 18px;
$base: strip-unit($font-size);
$line-height: $font-size * $scale;

// Strips of lead
$lead-half:        $line-height / 2;
.lead-half       { margin-bottom: $line-height / 2 !important; }

$lead-single:      $line-height;
.lead-single     { margin-bottom: $line-height !important; }

$lead-double:      $line-height * 2;
.lead-double     { margin-bottom: $line-height * 2 !important; }

$lead-triple:      $line-height * 3;
.lead-triple     { margin-bottom: $line-height * 3 !important; }

$lead-quadruple:   $line-height * 4;
.lead-quadruple  { margin-bottom: $line-height * 4 !important; }

$lead-quintuple:   $line-height * 5;
.lead-quintuple  { margin-bottom: $line-height * 5 !important; }



////// Site //////

$transition-out: all 0.15s ease-out;
$transition-in:  all 0.1s ease-in;

$border-radius:        3px;

$card-radius:          5px;
$card-depth:           3px * -1;
$card-shadow-darken:   5%;

// layout
$container-max-width:     $lead-single * 40;
$container-pad:           $lead-half;

// breakpoints
$breakpoint-sm:           768px;
$breakpoint-md:           1024px;
$breakpoint-lg:           1200px;

// shadow
$shadow-1:        0 3px 6px rgba(0,0,0,.15);
$shadow-2:        0 6px 12px rgba(0,0,0,.1);
