<section class="section section">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-11 col-sm-8 col-md-6">
        <ul class="footer-links">
          <li>
            <h4>We're watching you</h4>
          </li>
          <li>
            <a class="footer-link" href="https://docs.google.com/a/tradecrafted.com/forms/d/e/1FAIpQLSfoJrSX2c9eevRohtgq3_JS7lp4SqAYeakm6ak-qfqlTfPB0g/viewform">Submit a challenge prompt</a>
          </li>
          <li>
            <a class="footer-link" href="https://docs.google.com/a/tradecrafted.com/forms/d/e/1FAIpQLSeFzHeVnUvyk808p7Jp6HZ4phbzZtTeMgGMgnVEf_Ozzi-iCg/viewform">Submit your design</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
