{% extends 'layout.html' %}

{% block documentHead %}
  {% import 'macros/head-macro.html' as head %}
  {{ head.title( 'About LCTHW' ) }}
{% endblock %}

<!-- Top brand navigation -->
{% block brandNav %}
  {% import 'macros/brand-navigation-macro.html' as nav %}
  {{ nav.brandNav( courses ) }}
{% endblock %}

<!-- Main title section -->
{% block masthead %}
<div class="masthead">
  <h1>About</h1>
</div>
{% endblock %}

<!-- Main content area -->
{% block content %}
<div class="container-fluid">

  <div class="row" id="info-intro">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <h1>About Learn Code The Hard Way</h1>

        <p>Learn Code The Hard Way is a product created by Zed A. Shaw, the author of
        <ul>
            <li><a href="/python/">Learn Python The Hard Way</a></li>
            <li><a href="/ruby/">Learn Ruby The Hard Way</a></li>
            <li><a href="/c/">Learn C The Hard Way</a></li>
            <li><a href="/more-python/">Learn More Python The Hard Way</a></li>
            <li><a href="/sql/">Learn SQL The Hard Way</a></li>
            <li><a href="/regex/">Learn Regex The Hard Way</a></li>
        </ul>

        <h1>Subscribe To Our Newsletter</h1>

        <p>If you'd like to be notified when new products are out or when there's special offers you can <a href="https://paydiv.io/customers/subscribe/">subscribe to our mailing list</a>.</p>
    </div>
  </div>

</div>
{% endblock %}
