{% extends 'layout.html' %}

{% block documentHead %}
  {% import 'macros/head-macro.html' as head %}
  {{ head.title( 'Daily Design Warmup' ) }}
{% endblock %}

<!-- Main content area -->
{% block content %}
<div class="content">
  <div class="row around-xs">
    <div class="col-xs-11 col-sm-8 col-md-6">
      <h1>Daily Design Challenge</h1>
      <p class="text-center">
        Do this. Every day.
      </p>
      <hr>
      <div class="spinner challenge-spinner"></div>
      <div class="challenge-loaded">
        <h2 id="challengeText" class="text-center"></h2>
        <h4 class="text-center">Submitted by <span id="authorText"></span>.</h4>
      </div>
    </div>
  </div>

  <div class="row dark">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h1>Leaderboard</h1>
      <div class="spinner leaderboard-spinner"></div>
      <ul id="leaderboard" class="leaderboard-loaded">
      </ul>
    </div>
  </div>

</div>
{% endblock %}
